<%- include('./partials/header') %>
<%- include('./partials/navbar')%>

<div class="row">

  <div class="container col-md-8 mt-5">
    <h5>Hello, Alfian your Budget for this month is : Rp. 4.000.000</h5>
    <p>Current Balance : Rp. 3.500.000</p>
    <p><a class="btn btn-outline-primary btn-sm" href="/transaction/:id/add" role="button">New Transaction</a></p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Ammount</th>
          <th scope="col">Date</th>
          <th scope="col">Tags</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <% data.forEach((el,idx)=>{ %>
          <td><%= idx+1%></td>
          <td><%= el.name %></td>
          <td><%= el.amount %></td>
          <td><%= el.date %></td>
          <td>tags</td>
          <td>
            <a class="btn btn-outline-primary btn-sm" href="/tags/<%= el.id %>/edit" role="button">Edit</a> 
            <a class="btn btn-outline-danger btn-sm" href="/tags/<%= el.id %>/delete" role="button">Delete</a>
            <a class="btn btn-outline-success btn-sm" href="/tags/<%= el.id %>/addTags" role="button">Delete</a>
          </td>
        <% })%>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<%- include('./partials/end') %>
