<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker App</title>
  </head>
  <body>
    <h1>
      Hi <%= `${data[0].User.first_name} ${data[0].User.last_name}` %> how are
      you today?
    </h1>
    <h1>Your budget: Rp <%= data[0].User.budget %></h1>
    <h1>Your current balance: Rp <%= data[0].User.current_balance - sum %></h1>
    <a href="/transaction/add">Add Transaction</a>
    <a href="/tags">View Tags</a>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Tags</th>
        <th>Action</th>
      </tr>
      <% data.forEach((el, i) => { %>
      <tr>
        <td><%= el.name %></td>
        <td><%= el.amount %></td>
        <td><%= el.date %></td>
        <td><%= tags[i].join(', ') %></td>
        <td>
          <a href="/transaction/<%= el.id %>/edit">Edit</a> |
          <a href="/transaction/<%= el.id %>/delete">Delete</a>
        </td>
      </tr>
      <% }) %>
    </table>
    <h1>Your total spending: Rp <%= sum %></h1>
  </body>
</html>
